.input-size {
    height: 62px;
}

.button-size {
    height: 62px;
}

.default-size {
    height: 50px;
}

.delete-button {
    height: 50px;
    width: 97.39px;
}

.delete-button {
    height: 50px;
    width: 97.39px;
}

.add-button {
    height: 62px;
    width: 97.39px;
}

.zero-padding {
    padding: 0px;
}
